addict==2.4.0
albumentations==1.3.1
anndata==0.10.9
colorcet==3.0.1
h5py==3.10.0
hydra-core==1.3.2
joblib==1.3.2
lmdb==1.4.1
matplotlib==3.8.2
numba==0.58.1
numpy==2.1.1
omegaconf==2.3.0
opencv_python==4.8.1.78
opencv_python_headless==4.8.1.78
pandas==2.2.3
Pillow==10.0.1
Pillow==10.4.0
pycytominer==1.1.0
pymatgen==2023.11.12
PyYAML==6.0.1
PyYAML==6.0.2
rdkit==2023.9.5
rdkit_pypi==2022.9.5
scib==1.1.4
scikit_learn==1.3.2
scipy==1.14.1
seaborn==0.13.2
setuptools==68.0.0
torch==2.1.1
torchvision==0.16.1
tqdm==4.66.1
umap_learn==0.5.5
